<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur5_robot">

  <xacro:include filename="$(find ur_description)/urdf/inc/ur5_macro.xacro"/>

  <xacro:ur5_robot
    prefix = ""
    joint_limits_parameters_file='$(find my_ur_description)/urdf/ur5/joint_limits.yaml'
    kinematics_parameters_file='$(find ur_description)/config/ur5/default_kinematics.yaml'
    physical_parameters_file='$(find ur_description)/config/ur5/physical_parameters.yaml'
    visual_parameters_file='$(find ur_description)/config/ur5/visual_parameters.yaml'
    transmission_hw_interface='hardware_interface/PositionJointInterface'
    safety_limits='false'
    safety_pos_margin='0.15'
    safety_k_position='20'/>

  <material name="LightGrey">
      <color rgba="0.7 0.7 0.7 1.0" />
  </material>

  <material name="blue">
      <color rgba="0 0 0.8 1" />
  </material>

  <material name="red">
      <color rgba="0.8 0 0 1" />
  </material>


  <xacro:macro name="cylinder_inertia" params="m r h">
        <inertia  ixx="${m*(3*r*r+h*h)/12}" ixy = "0" ixz = "0"
                    iyy="${m*(3*r*r+h*h)/12}" iyz = "0"
                    izz="${m*r*r/2}" />
  </xacro:macro>

  <xacro:macro name="box_inertia" params="m x y z">
          <inertia  ixx="${m*(y*y+z*z)/12}" ixy = "0" ixz = "0"
                    iyy="${m*(x*x+z*z)/12}" iyz = "0"
                    izz="${m*(x*x+z*z)/12}" />
  </xacro:macro>

  <xacro:macro name="sphere_inertia" params="m r">
          <inertia  ixx="${2*m*r*r/5}" ixy = "0" ixz = "0"
                    iyy="${2*m*r*r/5}" iyz = "0"
                    izz="${2*m*r*r/5}" />
  </xacro:macro>


  <link name="world" />
  <link name="baseplate_link">
    <visual>
      <origin xyz="0.35 0.55 -0.015" />
      <geometry>
        <box size="0.7 1.1 0.03" />
      </geometry>
      <material name="LightGrey"/>
    </visual>
    <inertial>
      <mass value="10"/>
      <xacro:box_inertia m="10" x="1.1" y="0.7" z="0.03"/>
    </inertial>
  </link>

  <joint name="baseplate_joint" type="fixed">
    <origin xyz="0.35 0.55 -0.015" />
    <parent link="world" />
    <child link="baseplate_link" />
  </joint>

  <link name="mountingplate_link">
    <visual>
      <origin xyz="0.15 0.15 0.006" rpy="0 0 3.14"/>
      <geometry>
        <box size="0.3 0.3 0.012" />
      </geometry>
      <material name="red"/>
    </visual>
    <inertial>
      <mass value="1"/>
      <xacro:box_inertia m="1" x="0.3" y="0.3" z="0.012"/>
    </inertial>
  </link>

  <joint name="mountingplate_joint" type="fixed">
    <origin xyz="0.3 0.395 0.0" rpy="0 0 1.57" />
    <parent link="baseplate_link" />
    <child link="mountingplate_link" />
  </joint>

  <!-- robot to mouting_plate. -->
  <joint name="mountingplate_link" type="fixed">
    <parent link="mountingplate_link" />
    <child link="base_link" />
    <origin xyz="0.0 0.0 0.01" rpy="0.0 0.0 ${pi}"/>
  </joint>

  <!-- tool center point -->
  <link name="tcp_link" />
  <joint name="tool0_link" type="fixed">
    <parent link="tool0" />
    <child link="tcp_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 ${-pi/2} 0.0"/>
  </joint>
  <!-- sorteerbakken -->
  <link name="bak1_1_link">
    <visual>
      <origin xyz="0 0 0.001" rpy="1.57079 3.14 0.0"/>
      <geometry>
        <mesh filename="package://my_ur_description/urdf/ur5/sorteerbak_groot.STL"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.001" rpy="1.57079 3.14 0.0"/>
      <geometry>
        <mesh filename="package://my_ur_description/urdf/ur5/sorteerbak_groot.STL"/>
      </geometry>
      <material name="blue"/>
    </collision>
  </link>

  <joint name="bak1_1_joint" type="fixed">
    <origin xyz="0.102 1.15 0.082" />
    <parent link="baseplate_link" />
    <child link="bak1_1_link" />
  </joint>

  <link name="bak1_2_link">
    <visual>
      <origin xyz="0 0 0.001" rpy="1.57079 3.14 0.0"/>
      <geometry>
        <mesh filename="package://my_ur_description/urdf/ur5/sorteerbak_groot.STL"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.001" rpy="1.57079 3.14 0.0"/>
      <geometry>
        <mesh filename="package://my_ur_description/urdf/ur5/sorteerbak_groot.STL"/>
      </geometry>
      <material name="blue"/>
    </collision>
  </link>

  <joint name="bak1_2_joint" type="fixed">
    <origin xyz="0.105 0 0" />
    <parent link="bak1_1_link" />
    <child link="bak1_2_link" />
  </joint>

  <link name="bak1_3_link">
    <visual>
      <origin xyz="0 0 0.001" rpy="1.57079 3.14 0.0"/>
      <geometry>
        <mesh filename="package://my_ur_description/urdf/ur5/sorteerbak_groot.STL"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.001" rpy="1.57079 3.14 0.0"/>
      <geometry>
        <mesh filename="package://my_ur_description/urdf/ur5/sorteerbak_groot.STL"/>
      </geometry>
      <material name="blue"/>
    </collision>
  </link>

  <joint name="bak1_3_joint" type="fixed">
    <origin xyz="0.105 0 0" />
    <parent link="bak1_2_link" />
    <child link="bak1_3_link" />
  </joint>

  <link name="bak1_4_link">
    <visual>
      <origin xyz="0 0 0.001" rpy="1.57079 3.14 0.0"/>
      <geometry>
        <mesh filename="package://my_ur_description/urdf/ur5/sorteerbak_groot.STL"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.001" rpy="1.57079 3.14 0.0"/>
      <geometry>
        <mesh filename="package://my_ur_description/urdf/ur5/sorteerbak_groot.STL"/>
      </geometry>
      <material name="blue"/>
    </collision>
  </link>

  <joint name="bak1_4_joint" type="fixed">
    <origin xyz="0.105 0 0" />
    <parent link="bak1_3_link" />
    <child link="bak1_4_link" />
  </joint>

  <link name="bak2_1_link">
    <visual>
      <origin xyz="0 0 0.001" rpy="1.57079 3.14 0.0"/>
      <geometry>
        <mesh filename="package://my_ur_description/urdf/ur5/sorteerbak_klein.STL"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.001" rpy="1.57079 3.14 0.0"/>
      <geometry>
        <mesh filename="package://my_ur_description/urdf/ur5/sorteerbak_klein.STL"/>
      </geometry>
      <material name="blue"/>
    </collision>
  </link>

  <joint name="bak2_1_joint" type="fixed">
    <origin xyz="-0.102 0 0.002" rpy="0.0 3.14 0.0"  />
    <parent link="bak1_1_link" />
    <child link="bak2_1_link" />
  </joint>

  <link name="bak2_2_link">
    <visual>
      <origin xyz="0 0 0.001" rpy="1.57079 3.14 0.0"/>
      <geometry>
        <mesh filename="package://my_ur_description/urdf/ur5/sorteerbak_klein.STL"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.001" rpy="1.57079 3.14 0.0"/>
      <geometry>
        <mesh filename="package://my_ur_description/urdf/ur5/sorteerbak_klein.STL"/>
      </geometry>
      <material name="blue"/>
    </collision>
  </link>

  <joint name="bak2_2_joint" type="fixed">
    <origin xyz="-0.105 0 0" rpy="0.0 0 0.0"  />
    <parent link="bak2_1_link" />
    <child link="bak2_2_link" />
  </joint>

  <link name="bak2_3_link">
    <visual>
      <origin xyz="0 0 0.001" rpy="1.57079 3.14 0.0"/>
      <geometry>
        <mesh filename="package://my_ur_description/urdf/ur5/sorteerbak_klein.STL"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.001" rpy="1.57079 3.14 0.0"/>
      <geometry>
        <mesh filename="package://my_ur_description/urdf/ur5/sorteerbak_klein.STL"/>
      </geometry>
      <material name="blue"/>
    </collision>
  </link>

  <joint name="bak2_3_joint" type="fixed">
    <origin xyz="-0.105 0 0" rpy="0.0 0 0.0"  />
    <parent link="bak2_2_link" />
    <child link="bak2_3_link" />
  </joint>

  <link name="bak2_4_link">
    <visual>
      <origin xyz="0 0 0.001" rpy="1.57079 3.14 0.0"/>
      <geometry>
        <mesh filename="package://my_ur_description/urdf/ur5/sorteerbak_klein.STL"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.001" rpy="1.57079 3.14 0.0"/>
      <geometry>
        <mesh filename="package://my_ur_description/urdf/ur5/sorteerbak_klein.STL"/>
      </geometry>
      <material name="blue"/>
    </collision>
  </link>

  <joint name="bak2_4_joint" type="fixed">
    <origin xyz="-0.105 0 0" rpy="0.0 0 0.0"  />
    <parent link="bak2_3_link" />
    <child link="bak2_4_link" />
  </joint>



</robot>
